<!-- right hand navigtion menu -->
<div class="preview-inner preview-inner_upper">
      <div class="preview-inner__wrp">
          <button class="nav-toggle">
                <span></span>
                <span></span>
                <span></span>
          </button>
              <ul class="navigation"></ul>
      </div>
      <div class="nav-drop">
            <li><a href="">Home</a></li>
            <li><a href="">About</a></li>
      </div>
</div>
