<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/main.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
    <script src="/javascripts/jQuery.min.js"></script>


  </head>
  <body>
    {{> header}}
    {{{body}}}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    <!-- script controls popover -->
<script>
    $('.bundle-inner__switcher li').on('click', function(){
        $(this).siblings('li').removeClass('active');
        $(this).addClass('active');

        if ($('.bundle-inner__switcher li:first-of-type').hasClass('active')) {
            $('.p2, .b2').hide();
            $('.p1, .b1').show();
        } else {
            $('.p1, .b1').hide();
            $('.p2, .b2').show();
        }
    });

    $('.bundle-inner__switcher li:last-of-type').on('click', function(){
        $('.bundle__popover').fadeIn(100);
    });

    $('.bundle-inner__switcher li:first-of-type, .bundle__popover-close').on('click', function(){
        $('.bundle__popover').fadeOut(100);
        $('.p2, .b2').hide();
        $('.p1, .b1').show();
        $('.bundle-inner__switcher li:last-of-type').removeClass('active');
        $('.bundle-inner__switcher li:first-of-type').addClass('active');
    });

    $('.nav-toggle').on('click', function(){
        $('.nav-drop').fadeToggle(100);
    });
</script>
  </body>
</html>
