/* Main module for all scss files */
/* Reset css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

* {
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none;
  color: inherit; }

input, textarea, button {
  border: none;
  outline: none;
  background-color: transparent;
  box-sizing: border-box;
  padding: 0; }

/* Typography */
@font-face {
  font-family: 'didot';
  src: url("../fonts/didot/didot bold.eot");
  src: url("../fonts/didot/didot bold.woff2") format("woff2"), url("../fonts/didot/didot bold.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/didot/Didot-HTF-B16-Bold.woff") format("woff"), url("../fonts/didot/Didot-HTF-B16-Bold.ttf") format("truetype"), url("../fonts/didot/Didot-HTF-B16-Bold.svg#Didot-HTF-B16-Bold") format("svg");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'ProximaNova';
  src: url("../fonts/proximanova/light/ProximaNova-Light.eot");
  src: url("../fonts/proximanova/light/ProximaNova-Light.woff2") format("woff2"), url("../fonts/proximanova/light/ProximaNova-Light.woff") format("woff"), url("../fonts/proximanova/light/ProximaNova-Light.ttf") format("truetype"), url("../fonts/proximanova/light/ProximaNova-Light.svg#ProximaNova-Light") format("svg"), url("../fonts/proximanova/light/ProximaNova-Light.eot?#iefix") format("embedded-opentype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'ProximaNova-SemiBold';
  src: url("../fonts/proximanova/semibold/ProximaNova-Semibold.eot");
  src: url("../fonts/proximanova/semibold/ProximaNova-Semibold.woff2") format("woff2"), url("../fonts/proximanova/semibold/ProximaNova-Semibold.woff") format("woff"), url("../fonts/proximanova/semibold/ProximaNova-Semibold.ttf") format("truetype"), url("../fonts/proximanova/semibold/ProximaNova-Semibold.svg#ProximaNova-Semibold") format("svg"), url("../fonts/proximanova/semibold/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'ProximaNova-Bold';
  src: url("../fonts/proximanova/bold/ProximaNova-Bold.eot");
  src: url("../fonts/proximanova/bold/ProximaNova-Bold.woff2") format("woff2"), url("../fonts/proximanova/bold/ProximaNova-Bold.woff") format("woff"), url("../fonts/proximanova/bold/ProximaNova-Bold.ttf") format("truetype"), url("../fonts/proximanova/bold/ProximaNova-Bold.svg#ProximaNova-Bold") format("svg"), url("../fonts/proximanova/bold/ProximaNova-Bold.eot?#iefix") format("embedded-opentype");

   }

/* General styles */
html {
  font-size: 16px; }

body {
  font-family: 'ProximaNova';
  font-weight: 500;
  line-height: 1.3; }

button {
  cursor: pointer;
  font-size: 1rem; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'didot';
  font-weight: 700;
  text-transform: uppercase; }

.header-1 {
  font-size: 2.5rem;
  letter-spacing: 5px;
  margin-bottom: 50px; }

.header-2 {
  font-size: 1.75rem;
  letter-spacing: 3px; }

.header-3 {
  font-size: 1.1rem;
  letter-spacing: 3px;
  margin-bottom: 0.8em;}

@media screen and (max-width: 544px) {
  .header-1,
  .header-2 {
    font-size: 1.5rem; } }

.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto; }
  .wrapper img {
    width: 100%; }

@media screen and (max-width: 1200px) {
  .wrapper {
    max-width: 992px; } }

@media screen and (max-width: 992px) {
  .wrapper {
    max-width: 768px; } }

@media screen and (max-width: 768px) {
  .wrapper {
    max-width: 544px; } }

@media screen and (max-width: 544px) {
  .wrapper {
    max-width: 300px; } }

.logo {
  float: left;
  background-color: #ccc;
  color: #fff;
  padding: 15px 30px; }

.btn-group {
  font-size: 0;
  text-align: left; }
  .btn-group .main-btn:not(:last-of-type) {
    margin-right: 10px; }

.main-btn {
  text-transform: uppercase;
  text-align: center; }
  .main-btn_big {
    height: 50px;
    line-height: 50px;
    width: 100px; }
  .main-btn_small {
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    font-size: .7rem;
    letter-spacing: 4px; }
  .main-btn_filled {
    background-color: #f05223;
    color: #fff;
    transition: .3s; }
    .main-btn_filled:hover {
      background-color: #333; }
  .main-btn_bordered {
    line-height: 38px;
    border: 1px solid #f05223;
    color: #f05223;
    transition: .3s; }
    .main-btn_bordered:hover {
      background-color: #f05223;
      color: #fff; }
  .main-btn_empty {
    position: relative;
    overflow: hidden;
    transition: .3s; }
    .main-btn_empty:after {
      position: absolute;
      bottom: 0;
      left: 0;
      content: '';
      width: 100%;
      height: 3px;
      background-color: #f05223;
      -webkit-transform: translateX(-102%);
      -ms-transform: translateX(-102%);
      transform: translateX(-102%);
      transition: .3s; }
    .main-btn_empty:hover {
      color: #f05223; }
      .main-btn_empty:hover:after {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0); }

.paragraph {
  color: #838383; }
  .paragraph_small {
    font-size: .8rem; }
  .paragraph_big {
    font-size: 1.3rem; }
    .paragraph_price {
      font-size: 1.3rem; }
  .paragraph_100 {
    font-weight: 300;
	font-family:'ProximaNova' }
	.paragraph_300 {
    font-weight: 300;
	font-family:'ProximaNova-SemiBold' }

.features {
  font-size: 0;
  margin-bottom: 20px; }
  .features:after {
    content: '';
    display: table;
    clear: both; }
  .features__el {
    float: left; }
    .features__el:not(:last-of-type) {
      margin-right: 10px;
      margin-bottom: 10px; }
    .features__el img,
    .features__el span {
      display: inline-block;
      vertical-align: middle; }
    .features__el img {
      width: 40px;
      margin-right: 5px; }
    .features__el span {
      margin: 0; }

@media screen and (max-width: 768px) {
  .features {
    text-align: center; }
    .features__el {
      float: none;
      display: inline-block; }
      .features__el span {
        display: none; } }

.all-head {
  position: absolute;
  padding: 30px 0 10px;
  width: 90%;
  text-align: center;
  background-color: #efe249;
  color: #333; }
  .all-head p {
    font-size: 1rem;
    letter-spacing: 4px; }

/* Home page styles */
.imac {
  background-image: linear-gradient(to bottom, #fff, #f8f8f8);
  padding-top: 50px;
  padding-bottom: 100px; }
  .imac .wrapper {
    position: relative;
    background-image: url(../img/leaves_bg.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px; }
  .imac-inner {
    position: absolute;
    left: 44px;
    width: 1112px; }
    .imac-inner_upper {
      top: 43px;
      padding-top: 50px; }
      .imac-inner_upper .imac-inner__wrp {
        padding-left: 50px; }
        .imac-inner_upper .imac-inner__wrp:after {
          content: '';
          display: table;
          clear: both; }
        .imac-inner_upper .imac-inner__wrp:not(:last-of-type) {
          margin-bottom: 30px; }
      .imac-inner_upper .imac__paragraph {
        margin-top: 10px; }
        .imac-inner_upper .imac__paragraph-drop {
          display: inline-block;
          position: relative; }
          .imac-inner_upper .imac__paragraph-drop i {
            position: absolute;
            right: 3px;
            top: 8px;
            color: #333; }
          .imac-inner_upper .imac__paragraph-drop select {
            position: relative;
            z-index: 1;
            cursor: pointer;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            border: none;
            border-bottom: 1px solid #999;
            border-radius: 0;
            background-color: transparent;
            outline: none;
            padding: 5px 20px 5px 5px;
            font-size: 1rem;
            color: #3f9089; }
    .imac-inner_lower {
      top: 580px;
      height: 90px;
      padding: 0 30px; }
      .imac-inner_lower:after {
        content: '';
        display: table;
        clear: both; }
      .imac-inner_lower .imac-inner__switcher {
        float: left;
        margin-right: 30px;
        margin-top: 41px; }
        .imac-inner_lower .imac-inner__switcher .active {
          color: #f05223; }
        .imac-inner_lower .imac-inner__switcher li {
          cursor: pointer;
          transition: .4s; }
          .imac-inner_lower .imac-inner__switcher li:first-of-type {
            float: left;
            margin-right: 20px; }
          .imac-inner_lower .imac-inner__switcher li:last-of-type {
            float: right; }
          .imac-inner_lower .imac-inner__switcher li:not(:last-of-type) {
            position: relative; }
            .imac-inner_lower .imac-inner__switcher li:not(:last-of-type):after {
              position: absolute;
              right: -11px;
              content: '|';
              color: #333; }
      .imac-inner_lower .imac-inner__paragraph {
        float: left;
        width: 40%;
        margin-top: 35px; }
      .imac-inner_lower .imac-inner__buttons {
        float: right;
        margin-top: 25px; }
        .imac-inner_lower .imac-inner__buttons:after {
          content: '';
          display: table;
          clear: both; }
        .imac-inner_lower .imac-inner__buttons li:not(:last-of-type) {
          float: left;
          margin-right: 20px; }
        .imac-inner_lower .imac-inner__buttons li:last-of-type {
          float: right; }
        .imac-inner_lower .imac-inner__buttons .button {
          line-height: 50px;
          text-transform: uppercase;
          color: #f05223;
          font-weight: 500;
          padding: 0 15px; }

@media screen and (max-width: 1200px) {
  .imac .wrapper {
    position: relative;
    background-image: none; }
    .imac .wrapper img {
      display: none; }
    .imac .wrapper .imac-inner {
      position: static;
      width: auto; }
      .imac .wrapper .imac-inner_upper {
        padding: 0; }
      .imac .wrapper .imac-inner_lower {
        padding: 0; }
      .imac .wrapper .imac-inner__wrp {
        padding: 0; } }

@media screen and (max-width: 544px) {
  .imac {
    padding-bottom: 50px; }
    .imac .wrapper .imac-inner_lower {
      height: auto; }
    .imac .wrapper .imac-inner .imac-inner__switcher {
      float: none;
      margin-right: 0;
      margin-top: 30px;
      text-align: center; }
      .imac .wrapper .imac-inner .imac-inner__switcher li:first-of-type {
        float: none;
        margin-right: 0;
        margin-bottom: 10px; }
        .imac .wrapper .imac-inner .imac-inner__switcher li:first-of-type:after {
          content: '';
          width: 30px;
          height: 1px;
          background-color: rgba(51, 51, 51, 0.2);
          left: 50%;
          bottom: -6px;
          margin-left: -15px; }
      .imac .wrapper .imac-inner .imac-inner__switcher li:last-of-type {
        float: none; }
    .imac .wrapper .imac-inner .imac-inner__paragraph {
      float: none;
      width: 100%; }
    .imac .wrapper .imac-inner .imac-inner__buttons {
      float: none; } }

.nav-toggle,
.nav-drop {
  position: fixed;
  right: calc(50% - 556px);
  top: 93px; }

.nav-toggle {
  z-index: 999;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 1.6rem;
  background-color: #3f9089;
  color: #fff;
  top: 0;
  right:0; }
  .nav-toggle span {
    margin: 0 auto;
    display: block;
    width: 50%;
    height: 3px;
    background-color: #fff; }
    .nav-toggle span:not(:last-of-type) {
      margin-bottom: 5px; }

.nav-drop {
  	display: none;
	z-index: 998;
	width: 300px;
	padding: 50px 25px;
	background-color: rgba(63, 144, 137, 0.95);
	color: #fff;
	box-shadow: -2px 5px 6px 2px rgba(0, 0, 0, 0.1);
	top: 0;
	right: 0; }
  .nav-drop li {
    list-style: none; }
    .nav-drop li a {
      display: block;
      padding: 8px 16px;
      font-weight: 300; }
      .nav-drop li a:hover {
        background-color: #47a29a; }
@media screen and (max-width: 1200px) {
  .nav-toggle,
  .nav-drop {
    /*right: calc(50% - 496px);
    top: 50px; */
    right: 0;
    top: 0;} }

@media screen and (max-width: 992px) {
  .nav-toggle,
  .nav-drop {
    /*right: calc(50% - 384px);*/
    right: 0;
    top: 0; } }

@media screen and (max-width: 768px) {
  .nav-toggle,
  .nav-drop {
    /*right: calc(50% - 272px);*/
    right: 0;
    top:0;} }

@media screen and (max-width: 544px) {
  .nav-toggle,
  .nav-drop {
    /*right: calc(50% - 150px);*/
    right: 0;
    top: 0;} }

.services {
  position: relative;
  z-index: 2;
  text-align: center;
  margin-top: -300px;
  padding-bottom: 50px; }
  .services .header-1 {
    margin-bottom: 50px; }
  .services .services-inner {
    font-size: 0; }
    .services .services-inner .services__el {
      position: relative;
      display: inline-block;
      vertical-align: top;
      font-size: 1rem;
      width: 250px;
      padding-bottom: 30px; }
      .services .services-inner .services__el:after {
        position: absolute;
        bottom: 0;
        left: 50%;
        content: '';
        width: 90%;
        height: 3px;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        background-color: rgba(51, 51, 51, 0.1); }
      .services .services-inner .services__el:not(:last-of-type) {
        margin-right: calc(100px / 3); }
      .services .services-inner .services__el h3 {
        font-size: 1.5rem;
        letter-spacing: 4px; }
      .services .services-inner .services__el .paragraph {
        margin-bottom: 15px; }
      .services .services-inner .services__el-img {
        width: 100%;
        height: 300px;
        margin-bottom: 15px;
        background-color: #838383; }
        .services .services-inner .services__el-img img {
          width: 100%;
          height: 100%;
          object-fit: cover; }
      .services .services-inner .services__el .services__paragraph {
        text-align: left; }
      .services .services-inner .services__el .services__paragraph.paragraph_big {
        color: #333;
        text-transform: uppercase; }

@media screen and (max-width: 1200px) {
  .services {
    margin-top: 50px; }
    .services .services-inner .services__el {
      width: 48%; }
      .services .services-inner .services__el:nth-of-type(n) {
        margin-right: 0; }
      .services .services-inner .services__el:not(:nth-of-type(2n)) {
        margin-right: 4%; }
      .services .services-inner .services__el:nth-of-type(1), .services .services-inner .services__el:nth-of-type(2) {
        margin-bottom: 50px; } }

@media screen and (max-width: 544px) {
  .services .services-inner .services__el {
    width: 100%; }
    .services .services-inner .services__el:not(:last-of-type) {
      margin-right: 0;
      margin-bottom: 50px; }
    .services .services-inner .services__el h3 {
      font-size: 1.2rem; } }

/* Service page */
.mb75, .service, .service-page__btn {
  margin-bottom: 75px; }

.service-page {
  padding: 50px 220px; }

.service:after {
  content: '';
  display: table;
  clear: both; }

.service__desc {
  float: left;
  padding-top: 5px;
  width: 60%; }
  .service__desc .header-1 {
    margin-bottom: -10px; }
  .service__desc > .paragraph {
    margin-bottom: 30px; }
  .service__desc .features__el {
    margin-bottom: 0; }
  .service__desc .service__img_mobile {
    display: none;
    margin-bottom: 30px; }

.service__img {
  float: right;
  width: 35%;
  height: 430px; }
  .service__img img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

@media screen and (max-width: 768px) {

  .service-page {
    text-align: center; padding: 50px 0px; }
  .service {
    margin-bottom: 30px;
    margin-top: -20em;}
    .service__desc {
      width: 100%; }
      .service__desc .service__img_mobile {
        display: block; }
      .service__desc .paragraph_big:not(.paragraph_head) {
        display: inline-block;
        margin-right: 15px; }
    .service__img {
      display: none; } }

@media screen and (max-width: 544px) {
  .service .header-1 {
    margin-bottom: 10px; }
  .service .paragraph_head {
    font-size: 1rem; } }

.service-page__btn {
  padding: 20px 50px;
  border: 4px solid #f05223;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 6px;
  color: #f05223;
  transition: .3s; }
  .service-page__btn:hover {
    background-color: #f05223;
    color: #fff; }

@media screen and (max-width: 544px) {
  .service-page__btn {
    font-size: .8rem;
    line-height: 1.5rem; } }

.gallery .header-2 {
  margin-bottom: 20px; }

.gallery__list {
  font-size: 0; }
  .gallery__list li {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 13%;
    padding-top: 13%;
    margin-right: 5px;
    margin-bottom: 5px;
    /* if you will use it as a gallery - just put any image inside li tag and it'll work */ }
    .gallery__list li:nth-child(odd) {
      background-color: #ccc; }
    .gallery__list li:nth-child(even) {
      background-color: #888; }
    .gallery__list li img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover; }

@media screen and (max-width: 992px) {
  .gallery__list li {
    width: 18%;
    padding-top: 18%; } }

@media screen and (max-width: 544px) {
  .gallery__list li {
    width: calc(50% - 5px);
    padding-top: 50%; }
	.gallery__list li:nth-of-type(even) {
      margin-right: 0; } }

/* All page */
.all {
  padding: 50px 80px; }

.all__list {
  font-size: 0; }
  .all__list-el {
    position: relative;
    margin-bottom: 0.8rem;
    width: 23%;
    height: auto;
    display: inline-block;
    vertical-align: top;
    background-size: cover;
    background-position: 50% 50%; }
    .all__list-el:not(:nth-child(4n)) {
      margin-right: 1%; }
    .all__list-el .all-head {
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
  .all__list-first {
    padding: 30px;
    background-color: #66b7ab;
    height: 21.4rem;}
    .all__list-first .paragraph_big {
	margin-bottom: 20px;
	font-size: 2.2rem;
	font-family: 'ProximaNova-Bold';
	letter-spacing: 0.02em;
	line-height: 1em; }
    .all__list-first .paragraph {
      color: #fff; }
      .all__list-first .paragraph:not(.paragraph_big) {
        font-size: 1rem; }
  .all__list .list-el_bg1 {
    background-image: url(../img/snake_plant.jpg); margin-bottom: 12px;}
  .all__list .list-el_bg2 {
    background-image: url(../img/aloe_plant.jpg); }
  .all__list .list-el_bg3 {
    background-image: url(../img/money_plant.jpg); }
  .all__list .list-el_bg4 {
    background-image: url(../img/something.jpg); }
  .all__list .list-el_bg5 {
    background-image: url(../img/something_2.jpg); }
  .all__list .list-el_bg6 {
    background-image: url(../img/something_3.jpg); }
  .all__list .list-el_bg7 {
    background-image: url(../img/something_4.jpg); }
  .all__list .list-el_bg8 {
    background-image: url(../img/something_5.jpg); }
  .all__list .list-el_bg9 {
    background-image: url(../img/something_6.jpg); }
  .all__list:not(:last-of-type) {
    margin-bottom: 10px; }

@media screen and (max-width: 992px) {
  .all__list-el {
    width: 49.5%; }
    .all__list-el:not(:nth-child(4n)) {
      margin-right: 0; }
    .all__list-el:not(:nth-of-type(2n)) {
      margin-right: 1%; } }

@media screen and (max-width: 544px) {

	.all {padding: 50px 0px; }
  .all__list-el {
    width: 100%; }
    .all__list-el:not(:nth-of-type(n)) {
      margin-right: 0; }
    .all__list-el:not(:last-of-type) {
      margin-bottom: 10px; } }


      /* home page styles */

      .bundle {
        position: relative;
        background-image: url(../img/bundles/coverpage_base.jpg);
        background-position: 50% 50%;
        background-size: cover;
        background-repeat: no-repeat;
        padding-top: 50px;
        overflow: hidden; }
        .bundle .bundle__popover {
          display: none;
          position: absolute;
          z-index: 100;
          width: 33%;
          height: 100%;
          padding: 250px 50px 50px 50px;
          background-color: #fff;
          top: 0;
          right: 0; }
          .bundle .bundle__popover-close {
            position: absolute;
            left: 50px;
            top: 55px;
            font-size: 2rem;
            cursor: pointer;
            transition: .3s; }
            .bundle .bundle__popover-close:hover {
              color: #f05223; }
          .bundle .bundle__popover .header-1 {
            margin-bottom: 0; }
        .bundle-inner_upper .bundle-inner__wrp:after {
          content: '';
          display: table;
          clear: both; }
        .bundle-inner_upper .bundle-inner__wrp:first-of-type {
          margin-bottom: 100px; }
        .bundle-inner_upper .bundle-inner__wrp:nth-of-type(2) {
          margin-bottom: 300px;
      	padding-left: 4em; }
        .bundle-inner_upper .bundle__paragraph {
          margin-top: 10px; }
          .bundle-inner_upper .bundle__paragraph-drop {
            display: inline-block;
            position: relative; }
            .bundle-inner_upper .bundle__paragraph-drop i {
              position: absolute;
              right: 2px;
              top: 11px;
              color: #333;
              border-top: 7px solid #555;
              border-left: 7px solid transparent;
              border-right: 7px solid transparent; }
            .bundle-inner_upper .bundle__paragraph-drop select {
              position: relative;
              z-index: 1;
              cursor: pointer;
              -webkit-appearance: none;
              -moz-appearance: none;
              appearance: none;
              border: none;
              border-bottom: 1px solid #999;
              border-radius: 0;
              background-color: transparent;
              outline: none;
              padding: 5px 20px 5px 5px;
              font-size: 1rem;
              color: #3f9089; }
        .bundle-inner_lower {
          position: relative;
          z-index: 101;
          background-color: #fff;
          height: 90px; }
          .bundle-inner_lower .p2,
          .bundle-inner_lower .b2 {
            display: none; }
          .bundle-inner_lower:before, .bundle-inner_lower:after {
            position: absolute;
            top: 0;
            content: '';
            height: 90px;
            width: 400%;
            background-color: #fff; }
          .bundle-inner_lower:before {
            right: 100%; }
          .bundle-inner_lower:after {
            left: 100%; }
          .bundle-inner_lower:after {
            content: '';
            display: table;
            clear: both; }
          .bundle-inner_lower .bundle-inner__switcher {
            float: left;
            margin-right: 30px;
            margin-top: 41px; }
            .bundle-inner_lower .bundle-inner__switcher .active {
              color: #f05223; }
            .bundle-inner_lower .bundle-inner__switcher li {
              cursor: pointer;
              transition: .4s; }
              .bundle-inner_lower .bundle-inner__switcher li:first-of-type {
                float: left;
                margin-right: 20px; }
              .bundle-inner_lower .bundle-inner__switcher li:last-of-type {
                float: right; }
              .bundle-inner_lower .bundle-inner__switcher li:not(:last-of-type) {
                position: relative; }
                .bundle-inner_lower .bundle-inner__switcher li:not(:last-of-type):after {
                  position: absolute;
                  right: -11px;
                  content: '|';
                  color: #333; }
          .bundle-inner_lower .bundle-inner__paragraph {
            float: left;
            width: 40%;
            margin-top: 35px; }
          .bundle-inner_lower .bundle-inner__buttons {
            float: right;
            margin-top: 25px; }
            .bundle-inner_lower .bundle-inner__buttons:after {
              content: '';
              display: table;
              clear: both; }
            .bundle-inner_lower .bundle-inner__buttons li:not(:last-of-type) {
              float: left;
              margin-right: 20px; }
            .bundle-inner_lower .bundle-inner__buttons li:last-of-type {
              float: right; }
            .bundle-inner_lower .bundle-inner__buttons .button {
              line-height: 50px;
              text-transform: uppercase;
              color: #f05223;
              font-weight: 500;
              padding: 0 15px; }

      @media screen and (max-width: 1200px) {
        .bundle {
          padding-bottom: 50px; }
          .bundle .homewrapper {
            position: relative;
            background-image: none; }
            .bundle .homewrapper img {
              display: none; }
            .bundle .homewrapper .bundle-inner {
              position: static;
              width: auto; }
              .bundle .homewrapper .bundle-inner_upper {
                padding: 0; }
              .bundle .homewrapper .bundle-inner_lower {
                position: relative;
                padding: 0;
                height: auto;
                background-color: transparent; }
                .bundle .homewrapper .bundle-inner_lower:before, .bundle .homewrapper .bundle-inner_lower:after {
                  display: none; }
              .bundle .homewrapper .bundle-inner__switcher, .bundle .homewrapper .bundle-inner__paragraph, .bundle .homewrapper .bundle-inner__buttons {
                float: none; }
              .bundle .homewrapper .bundle-inner__switcher {
                margin-right: 0; }
                .bundle .homewrapper .bundle-inner__switcher li {
                  float: none;
                  display: inline-block; }
                  .bundle .homewrapper .bundle-inner__switcher li:not(:last-of-type):after {
                    display: none; }
              .bundle .homewrapper .bundle-inner__buttons li {
                display: inline-block;
                float: none; }
              .bundle .homewrapper .bundle-inner__wrp {
                padding: 0; } }

      @media screen and (max-width: 992px) {
        .bundle .bundle__popover {
          width: 50%; } }

      @media screen and (max-width: 768px) {
        .bundle .bundle__popover {
          width: 100%; } }

      @media screen and (max-width: 544px) {
        .bundle {
          padding-bottom: 50px; }
          .bundle .homewrapper .bundle-inner_lower {
            height: auto; }
          .bundle .homewrapper .bundle-inner .bundle-inner__switcher {
            float: none;
            margin-right: 0;
            margin-top: 30px;
            text-align: center; }
            .bundle .homewrapper .bundle-inner .bundle-inner__switcher li:first-of-type {
              float: none;
              margin-right: 0;
              margin-bottom: 10px; }
              .bundle .homewrapper .bundle-inner .bundle-inner__switcher li:first-of-type:after {
                content: '';
                width: 30px;
                height: 1px;
                background-color: rgba(51, 51, 51, 0.2);
                left: 50%;
                bottom: -6px;
                margin-left: -15px; }
            .bundle .homewrapper .bundle-inner .bundle-inner__switcher li:last-of-type {
              float: none; }
          .bundle .homewrapper .bundle-inner .bundle-inner__paragraph {
            float: none;
            width: 100%; }
          .bundle .homewrapper .bundle-inner .bundle-inner__buttons {
            float: none; } }

      .nav-toggle,
      .nav-drop {
        position: fixed;
        right: calc(50% - 600px);
        top: 50px; }

      .nav-toggle {
      	z-index: 999;
      	width: 50px;
      	height: 50px;
      	line-height: 50px;
      	text-align: center;
      	font-size: 1.6rem;
      	background-color: #3f9089;
      	color: #fff;
      	top: 0;
      	right: 0; }
        .nav-toggle span {
          margin: 0 auto;
          display: block;
          width: 50%;
          height: 3px;
          background-color: #fff; }
          .nav-toggle span:not(:last-of-type) {
            margin-bottom: 5px; }

      .nav-drop {
        	display: none;
      	z-index: 998;
      	width: 300px;
      	padding: 50px 25px;
      	background-color: rgba(63, 144, 137, 0.95);
      	color: #fff;
      	box-shadow: -2px 5px 6px 2px rgba(0, 0, 0, 0.1);
      	top: 0;
      	right: 0; }
        .nav-drop li {
          list-style: none; }
          .nav-drop li a {
            display: block;
            padding: 8px 16px;
            font-weight: 300; }
            .nav-drop li a:hover {
              background-color: #47a29a; }

      @media screen and (max-width: 1200px) {
        .nav-toggle,
        .nav-drop {
          right: calc(50% - 496px);
          top: 50px; } }

      @media screen and (max-width: 992px) {
        .nav-toggle,
        .nav-drop {
          right: calc(50% - 384px); } }

      @media screen and (max-width: 768px) {
        .nav-toggle,
        .nav-drop {
          right: calc(50% - 272px); } }

      @media screen and (max-width: 544px) {
        .nav-toggle,
        .nav-drop {
          right: calc(50% - 150px); } }
