<script type="text/javascript">
$(function(){
    var spaceValue = "";
    var climateValue = "";
    var serverData;
    
    //here I just capture the first select input
    $("#space_select").on('change', function(event){
        spaceValue  = this.value;
        console.log(spaceValue);
    });
    $("#climate_select").on('change', function(event){
        climateValue  = this.value;
        if(!spaceValue){
            spaceValue = $("#space_select").val();
        }
        
            $.ajax({
                method:'POST',
                url: "/products/",
                dataType: 'json',
                data: {spaceValue: spaceValue, climateValue:climateValue },
                success: function (data) {

                    serverData = data;  
                    var url = "url('http://localhost:27010/" + serverData.productImagePath + "')";
                    $("#result pre").html(JSON.stringify(serverData.large));
                    $("#description_large").html(serverData.large[0].description);  
                    $("#price_large").html("$" + serverData.large[0].price + ".00"); 

                    //since the background image in .bundle is css loaded...
                    $('.bundle').css(
                        {backgroundImage: url}
                    ); 

                }
           });
           
    });
    $("#product_large, #product_small").on('click', function(event){ 
    //I have created serverData so I can access it down  here
    //The condition prevents jQuery from filling out html wihtout server data  
        if(serverData){
            if($(event.target).attr('id').endsWith('large')){
                $("#result pre").html(JSON.stringify(serverData.large));
                $("#description_large").html(serverData.large[0].description);
                $("#price_large").html("$" + serverData.large[0].price + ".00"); 
            }
            else{
                $("#result pre").html(JSON.stringify(serverData.small));
                $("#description_small").html(serverData.small[0].description);
                $("#price_small").html("$" + serverData.small[0].price + ".00"); 
            }
        }
    });
});
</script>

<div class="bundle">
    <div class="bundle__popover">
        <i class="bundle__popover-close">&#x2715;</i>
        <h1 class="header-1">SMALL BUTTON POPOVER</h1>
        <p class="paragraph paragraph_300">Small button popover</p>
    </div>
    <div class="homewrapper">
        <div class="bundle-inner bundle-inner_upper">
            <div class="bundle-inner__wrp">
                <button class="nav-toggle">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <ul class="navigation"></ul>
            </div>
            <div class="bundle-inner__wrp">
                <p class="paragraph paragraph_small">This text is on the page</p>
                <p class="bundle__paragraph paragraph">So is this
                    <form>
                        <span class="bundle__paragraph-drop">
                            <i></i>
                            <select id="space_select">
                                <option selected  value="SPACE_ONE">SPACE ONE</option>
                                <option value="SPACE_TWO">SPACE TWO</option>
                                <option value="SPACE_THREE">SPACE THREE</option>
                            </select>
                        </span>
                        the space is
                        <span class="bundle__paragraph-drop">
                            <i></i>
                             <select id="climate_select">
                                <option selected  value="CLIMATE_ONE">CLIMATE ONE</option>
                                <option value="CLIMATE_TWO">CLIMATE TWO</option>
                                <option value="CLIMATE_THREE">CLIMATE THREE</option>
                                <!-- needs to find the product the matches space x and climate y -->
                            </select>
                        </span>
                    </form>
                </p>
            </div>
            <div class="nav-drop">
                <li><a href="">Home</a></li>
                <li><a href="">About</a></li>
            </div>
        </div>
        <div class="bundle-inner bundle-inner_lower">
            <ul class="bundle-inner__switcher">
                <li class="active" id="product_large" >products.large result</li>
                <li id="product_small">products.small result</li>
            </ul>
            <!-- load the result of product.small.description as a handlebars expression -->
            <p class="p1 bundle-inner__paragraph paragraph paragraph_small paragraph_300" id="description_large"></p>
            <p class="p2 bundle-inner__paragraph paragraph paragraph_small paragraph_300" id="description_small"></p>
            <ul class="b1 bundle-inner__buttons">
              <!-- load the result of product.small.price as a handlebars expression -->
                <li><button class="button" id="price_large">$price.large</button></li>
                  <!-- load the result of product.large.button as a handlebars expression -->
                <li><button class="main-btn main-btn_filled main-btn_small">BUTTON ONE</button></li>
            </ul>
            <ul class="b2 bundle-inner__buttons">
            <!-- load the result of product.small.button as a handlebars expression -->
                <li><button class="button" id="price_small">$price.small</button></li>
                <li><button class="main-btn main-btn_filled main-btn_small">BUTTON TWO</button></li>
            </ul>

        </div>
    </div>
</div>
<div id="result">
    <pre></pre>
</div>
