<!-- Note
products.name is collection and key for the ObjectId specified in the route.
This is just an example of handlebars. You do not need to work on this page.
-->



<div class="service-page">
        <div class="wrapper">
            <div class="service">
                <div class="service__desc">
                    <h1 class="header-1">{{products.name}}</h1>
                    <p class="paragraph_head paragraph paragraph_big paragraph_300">{{products.subheading}}.</p>
                    <div class="service__img_mobile"><img src="{{products.productImagePath}}"></div>
                    <p class="paragraph paragraph_100">{{products.description}}</p>
                    <p class="paragraph paragraph_big">${{products.price}}</p>
                    <button type = "button" class="snipcart-add-item main-btn main-btn_filled main-btn_small"

                    {{{products.button}}}>
                     BUTTON</button>
                </div>
                <div class="service__img"><img src="{{products.bannerImagePath}}"></div>
            </div>

        </div>
    </div>
<!--
                     <li class="all__list-el list-el_bg1">
                       <img src="{{products.bannerImagePath}}"></img>
                         <header class="all-head">
                             <h3 class="header-3">${{products.price}}</h3>
                             <h3 class="header-1">${{products.description}}</h3>
                         </header>
                     </li>

          </div>
        </div>

      -->
